<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link id="favicon" rel="icon" href="/assets/images/favicon/{{favicon_base}}.png">

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const date = new Date();
        const month = date.getMonth() + 1;
        const day = date.getDate();
        let name = "";

        if (month === 9 && day === 25) { name = "superp1ng9"; }
        else if (month === 1 && day === 14) { name = "aespa"; }
        else if (month === 4 && day === 11) { name = "karina"; }
        else if (month === 10 && day === 30) { name = "giselle"; }
        else if (month === 1 && day === 1) { name = "winter"; }
        else if (month === 10 && day === 23) { name = "ningning"; }

        const favicon = document.getElementById('favicon');
        if (name && favicon) {
            favicon.href = `/assets/images/favicon/${name}.png`;
        }
    });
</script>

<!-- 
날짜 가져오기
{% assign current_month = site.time | date: "%m" | times: 1 %}
{% assign current_day = site.time | date: "%d" | times: 1 %}

기본 파비콘 설정
{% assign favicon_base = "default" %}

특정 날짜마다 파비콘 변경 
{% if current_month == 11 and current_day == 17 %}
{% assign favicon_base = "aespa" %}

{% elsif current_month == 4 and current_day == 11 %}
{% assign favicon_base = "karina" %}

{% elsif current_month == 10 and current_day == 30 %}
{% assign favicon_base = "giselle" %}

{% elsif current_month == 1 and current_day == 1 %}
{% assign favicon_base = "winter" %}

{% elsif current_month == 10 and current_day == 23 %}
{% assign favicon_base = "ninging" %}

{% endif %}

<link rel="icon" type="image/png" href="/assets/images/favicon/{{favicon_base}}.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/assets/images/favicon/{{favicon_base}}.png" />
<link rel="shortcut icon" href="/assets/images/favicon/{{favicon_base}}.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/{{favicon_base}}.png" />
<link rel="manifest" href="/site.webmanifest" /> 
-->

<!-- end custom head snippets -->