<div class="linktree" id="linktree_signup">
  <h2 class="page-subtitle">Linktree</h2>
  <div class="form-container">
    <p>{{ site.linktree_title }}</p>
    <div class="linktree-box" style="padding: 0; border: none; background: none;">
      <a href="https://linktr.ee/{{site.linktree}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; display: block; width: 100%;">
        <input type="button" value="{{site.linktree_button}}" class="subscribe-btn" style="cursor: pointer; width: 100%; margin: 0; box-sizing: border-box;">
      </a>
    </div>
  </div>
</div>
